.laws-of-motion {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
  }
  
  h1, h2 {
    color: #1c1c1c;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    background-color: #ffffff;
    margin: 10px;
  }
  
  .mathjax-scroll {
    background-color: #FFE6C6;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .laws-of-motion {
    padding: 20px; /* Optional: Add some padding for better layout */
    background-color: #fff7ed;
    border-radius: 9px;
  }
  
  .law-image {
    width: 75%; /* Set the width to 75% of the original size */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image if needed */
    margin: 20px auto; /* Centering the images */
    border-radius: 8px; /* Optional: Add rounded corners */
  }
  
  .content-layout {
    display: flex;
    background-color: #FFE6C6;
  }
  
  .sidebar {
    width: 30%;
    padding: 15px;
    background-color: #fff7ed;
    margin-top: 30px ;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 30px;

  }
  
  .main-content {
    width: 75%;
    padding: 10px;
    background-color: #FFE6C6;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
  }
  
  .law-image {
    max-width: 100%;
    height: auto;
  }
  
  .quiz-question {
    margin-bottom: 20px;
  }
  
  .quiz-question p {
    /* font-weight: bold; */
    display: inline-block;
  }
  
  .quiz-question label {
    display: flex; /* Use flex to align radio and text */
    align-items: center; /* Vertically center the radio button with the text */
    margin: 5px 0;
  }

.quiz-question input[type="radio"] {
  margin-right: 5px; /* Space between radio button and label text */
  width: auto; /* Ensure the radio buttons do not take full width */
  height: auto; /* Maintain aspect ratio */
  display: inline-block; 
}
  
  
  