.laws-of-motion {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
  }
  
  h1, h2 {
    color: #1c1c1c;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    background-color: #ffffff;
    margin: 10px;
  }
  
  .mathjax-scroll {
    background-color: #FFE6C6;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .laws-of-motion {
    padding: 20px; /* Optional: Add some padding for better layout */
    background-color: #fff7ed;
    border-radius: 9px;
  }
  
  .law-image {
    width: 75%; /* Set the width to 75% of the original size */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image if needed */
    margin: 20px auto; /* Centering the images */
    border-radius: 8px; /* Optional: Add rounded corners */
  }
  
  .content-layout {
    display: flex;
  }
  
  .sidebar {
    width: 30%;
    padding: 10px;
    background-color: #FFD984;
  }
  
  .main-content {
    width: 75%;
    padding: 10px;
    background-color: #FFE6C6;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
  }
  
  .law-image {
    max-width: 100%;
    height: auto;
  }
  
  .quiz-question {
    margin-bottom: 20px;
  }
  
  .quiz-question p {
    font-weight: bold;
  }
  
  .quiz-question label {
    display: block;
    margin: 10px 0;
  }
  