.testimonials {
    padding: 50px;
    background-color: #fff;
    text-align: center;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR25hfELIpXN_vuSZHKs8cgzPub8JM9bIuCkw&s');
    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat ;
  }
  
  .testimonial-item {
    margin: 20px 0;
    font-style: italic;
  }
  
  .testimonial-item h4 {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }